.option
  label(for='autoplayMS') autoplayMS
  input#autoplayMS(type='text',
                   name='autoplayMS',
                   placeholder='Default: 5000')
  p
    | Number/Boolean: Timeout in milliseconds between autplay transitions. Set to 
    code false
    | or
    code 0
    |  to disable autoplay.
