.option
  label(for='controlsMS') controlsMS
  input#controlsMS(type='text',
                     placeholder='Default: 800',
                     name='controlsMS')
  p
    | Number: Timeout in milliseconds for transition when pagination is selected
