.option
  label(for='draggingMS') draggingMS
  input#draggingMS(type='text', name='draggingMS', placeholder='Default: 300')
  p
    | Number: Timeout in milliseconds for transition when slide is released
