.option
  label(for='navigation') navigation
  input#navigation(type='text',
                   name='navigation',
                   placeholder='Default: ["&larr;", "&rarr;"]')
  p
    | Array/Boolean: An array containing the text to display in the navigation controls, or 
    code false
    | to disable the navigation.
