.option
  label(for='returnToStart') returnToStart
  .checkbox
    input#returnToStart(type='checkbox',
                        name='returnToStart',
                        checked=true)
    span.placeholder Default: true
  p
    | Boolean: Determines whether to return to the first slide at the end of the autoplay loop.
