.option
  label(for='returnToStartMS') returnToStartMS
  input#returnToStartMS(type='text',
                        name='returnToStartMS',
                        placeholder='Default: 1000')
  p
    | Timeout in milliseconds for the transition when returning to the start of the loop.
