.option
  label(for='stopOnHover') stopOnHover
  .checkbox
    input#stopOnHover(type='checkbox',
                      name='stopOnHover',
                      checked=true)
    span.placeholder Default: true
  p
    | Boolean: Determines whether to stop playing when the user's mouse is over the revolver. (Ignored for touch devices.)
